<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wzf.dao.RoleDao">
    <resultMap id="Role" type="com.wzf.pojo.Role">

    </resultMap>

    <select id="findById" resultMap="Role">
      select * from Role where id = #{id}
    </select>
</mapper>